In [1]:
import pandas as pd

In [2]:
d = {
    "fisica": {
        "caudal": {
            "id": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7
            ],
            "volumen": [
                3.0,
                9.0,
                4.0,
                7.0,
                5.0,
                5.0,
                12.0,
                60.0
            ],
            "tiempo": [
                1.0,
                2.0,
                2.0,
                3.0,
                2.0,
                8.0,
                6.0,
                1.0
            ],
            "fecha_experimento": [
                "2025-02-17",
                "2023-03-15",
                "2021-04-23",
                "2022-05-11",
                "2020-02-08",
                "2024-09-21",
                "2000-03-30",
                "2025-02-23"
            ],
            "fecha_registro": [
                "2025-02-17",
                "2025-02-19",
                "2025-02-24",
                "2025-02-24",
                "2025-02-24",
                "2025-02-24",
                "2025-02-24",
                "2025-02-24"
            ],
            "caudal": [
                3.0,
                4.5,
                2.0,
                2.33,
                2.5,
                0.62,
                2.0,
                60.0
            ]
        },
        "area_circulo": {
            "id": [],
            "pi": [],
            "radio": [],
            "fecha_experimento": [],
            "fecha_registro": [],
            "area_circulo": []
        }
    },
    "quimica": {},
    "biologia": {}
}

In [3]:
keys = list(d.keys())
values = [list(i.keys()) for i in list(d.values())]

print(keys)
print(values)

for v in values[0]:
    print(f"\t\tCategoría {keys[0].title()} - Experimento {" ".join(v.split("_")).title()}")
    display(pd.DataFrame(d[keys[0]][v]).set_index("id"))
    print()

for v in values[1]:
    print(f"\t\tCategoría {keys[1].title()} - Experimento {" ".join(v.split("_")).title()}")
    print(pd.DataFrame(d[keys[1]][v]))
    print()

for v in values[2]:
    print(f"\t\tCategoría {keys[2].title()} - Experimento {" ".join(v.split("_")).title()}")
    print(pd.DataFrame(d[keys[2]][v]))
    print()

['fisica', 'quimica', 'biologia']
[['caudal', 'area_circulo'], [], []]
		Categoría Fisica - Experimento Caudal

    volumen  tiempo fecha_experimento fecha_registro  caudal
id
0       3.0     1.0        2025-02-17     2025-02-17    3.00
1       9.0     2.0        2023-03-15     2025-02-19    4.50
2       4.0     2.0        2021-04-23     2025-02-24    2.00
3       7.0     3.0        2022-05-11     2025-02-24    2.33
4       5.0     2.0        2020-02-08     2025-02-24    2.50
5       5.0     8.0        2024-09-21     2025-02-24    0.62
6      12.0     6.0        2000-03-30     2025-02-24    2.00
7      60.0     1.0        2025-02-23     2025-02-24   60.00

		Categoría Fisica - Experimento Area Circulo

Empty DataFrame
Columns: [pi, radio, fecha_experimento, fecha_registro, area_circulo]
Index: []

In [4]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'Ana', 'Luis'],
        'Edad': [23, 30, 22],
        'Ciudad': ['Madrid', 'Barcelona', 'Sevilla']}

df = pd.DataFrame(data)

# Escribir el DataFrame en un archivo de texto
df.to_csv('data.txt', sep='\t', index=False)  # Usamos tabuladores como separadores

In [5]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'Ana', 'Luis'],
        'Edad': [23, 30, 22],
        'Ciudad': ['Madrid', 'Barcelona', 'Sevilla']}

df = pd.DataFrame(data)

# Convertir el DataFrame en un formato de cadena con alineación
formatted_str = df.to_string(index=False, justify='left')

# Escribir el DataFrame formateado en un archivo de texto
with open('data1.txt', 'w') as f:
    f.write(formatted_str)

In [6]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'Ana', 'Luis'],
        'Edad': [23, 30, 22],
        'Ciudad': ['Madrid', 'Barcelona', 'Sevilla']}

df = pd.DataFrame(data)

# Convertir el DataFrame en una cadena formateada
formatted_str = df.to_string(index=False, header=True, justify='left')

# Crear la línea superior e inferior
column_widths = [max(len(str(val)) for val in df[col]) for col in df.columns]
border_line = '+' + '+'.join(['-' * (width + 2) for width in column_widths]) + '+'

# Crear las líneas de la tabla con bordes
table_lines = []
table_lines.append(border_line)  # Línea superior

# Agregar los encabezados con bordes
header_line = '| ' + ' | '.join([col.ljust(width) for col, width in zip(df.columns, column_widths)]) + ' |'
table_lines.append(header_line)

# Agregar la línea que separa el encabezado
table_lines.append(border_line)

# Agregar los valores de las filas con bordes
for _, row in df.iterrows():
    row_line = '| ' + ' | '.join([str(val).ljust(width) for val, width in zip(row, column_widths)]) + ' |'
    table_lines.append(row_line)

# Agregar la línea inferior
table_lines.append(border_line)

# Escribir la tabla en un archivo de texto
with open('tabla_con_lineas.txt', 'w') as f:
    f.write("\n".join(table_lines))

# Física:

1. Movimiento rectilíneo uniformemente acelerado (MRUA) a = 2d/t^2:

* Variables: Tiempo, distancia recorrida, aceleración.

* Descripción: Estudiar el comportamiento de un objeto que se mueve con aceleración constante. Se mide el tiempo y la distancia recorrida para calcular la aceleración.

2. Ley de Ohm V = IR:

* Variables: Voltaje, corriente eléctrica, resistencia.

* Descripción: En este experimento, se mide el voltaje y la corriente en un circuito resistivo, para calcular la resistencia según la ley de Ohm.

3. Caída libre de un objeto v = gt:

* Variables: Tiempo, altura desde la que cae el objeto, velocidad final.
* Descripción: Se deja caer un objeto desde una altura conocida y se mide el tiempo que tarda en llegar al suelo para estudiar su velocidad final.

# Química:

1. Reacción ácido-base:

* Variables: Concentración de ácido, volumen de ácido, pH.

* Descripción: Se mide el pH de una solución al agregar diferentes volúmenes de un ácido con concentración constante.

2. Descomposición de peróxido de hidrógeno :

* Variables: Concentración de peróxido de hidrógeno, temperatura, velocidad de descomposición.

* Descripción: Se observa la descomposición del peróxido de hidrógeno en presencia de un catalizador, variando la concentración y la temperatura.

3. Velocidad de disolución de un sólido en agua:

* Variables: Temperatura, tamaño del sólido, tiempo de disolución.

* Descripción: Se mide el tiempo que tarda un sólido en disolverse en agua a diferentes temperaturas y con partículas de distintos tamaños.

# Biología:

1. Efecto de la luz en la fotosíntesis:

* Variables: Intensidad de luz, concentración de dióxido de carbono, cantidad de oxígeno producido.

* Descripción: Se investiga cómo cambia la tasa de fotosíntesis de las plantas a diferentes intensidades de luz y concentraciones de dióxido de carbono.

2. Crecimiento de plantas bajo diferentes condiciones:

* Variables: Tipo de suelo, cantidad de agua, temperatura.

* Descripción: Se evalúa cómo afectan distintas condiciones de suelo, riego y temperatura al crecimiento de una planta.

3. Efecto de la temperatura sobre la actividad enzimática:

* Variables: Temperatura, concentración enzimática, velocidad de la reacción.

* Descripción: Se mide la velocidad de una reacción catalizada por una enzima a diferentes temperaturas para entender cómo influye la temperatura en la actividad enzimática.
Cada uno de estos experimentos tiene un máximo de tres variables, lo que los hace fáciles de manejar y controlar en el contexto de un laboratorio educativo.